.modal-mask {
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	overflow: auto;
	.modal-wrapper {
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
	.modal-container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
    &:not(.variable) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #3a435c;
    cursor: pointer;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}