/* 生年月日 */
.xhm-birthday {
  margin-top: 20px;
  margin-bottom: 30px;
}

.xhm-birthday-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 0 15px 0;
}

.xhm-birthday-select::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  position: absolute;
  top: 50%;
  right: calc(1em + 26px);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.xhm-birthday-select select {
  display: block;
  width: 100%;
}

.xhm-birthday-select select::-ms-expand {
  display: none;
}

.xhm-birthday-select .form-text {
  margin: 0 0 0 10px;
}

/* layout */
.xhm-birthday > .xhm-grid-cell {
  -webkit-box-flex: initial;
  -ms-flex: initial;
  flex: initial;
  width: 100%;
  margin-bottom: 8px;
}
