/* サブミットボタン */
.xhm-btn-submit {
  margin-top: 20px;
  margin-bottom: 30px;
}

.xhm-btn-submit button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 180px;
  min-width: 120px;
  height: 48px;
  background: #716c7e;
  color: #fff;
  font-size: 13px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.xhm-btn-submit button:hover:not(:disabled) {
  background: #505565;
}

.xhm-btn-submit button:disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.32;
}
