$baseFontColor: #1e1e1e;
$baseBgColor: #1f1f1f;
$classList: black, gray, gold, lightBlue, darkBlue, lightGreen, orange, red, pink, purple;
$siteColor: #1e1e1e, #a0a0a0, #bca820, #437cfd, #0a03ac, #47ce6a, #ff831a, #f03333, #ffa6c9, #6120f6;

$mainAreaMargin: 56px;
$mainAreaInnerPadding: calc(((100% + #{$mainAreaMargin} * 2) / 12) - #{$mainAreaMargin} - 12px);

@each $class in $classList {
  $index_key: index($classList, $class); //インデックスを取得
  &.siteColor-#{$class} {
    .view-components .btn {
      background-color: nth($siteColor, $index_key);
      &:hover:not(.btn-disabled) {
        background: rgba(nth($siteColor, $index_key), 0.85);
      }
    }
    /* セットパーツ:ワンラインニュース */
    .view-oneLineNews .news .label {
      background: nth($siteColor, $index_key);
    }
  }
}
a.link {
  color: $baseFontColor;
}
.view-heading1.link,
.view-heading2.link,
.view-heading3.link,
.view-heading4.link {
  color: $baseFontColor;
}
.view-components {
  font-family: "Noto Serif JP Medium";

  .btn {
    color: #ffffff;
    &:hover:not(.btn-disabled) {
      position: relative;
      overflow: hidden;
    }
  }
}

/* -----------------------リッチデザイン----------------------- */
// 文字色指定
.view-textWithTopImages {
  color: $baseFontColor;
}
ul.view-components.preview li.component.set-component {
  background: none !important;
}
.view-components.preview {
  background-color: $baseBgColor;
}
.preview .heading:not([class*="text-align"]) {
  text-align: center;
}
/* セットパーツ:コンバージョン */
.preview
  .conversionComponent:not(.prev-footer-component):not(.prev-breadcrumb-component):not(.prev-oneLineNews-component) {
  margin-bottom: 96px;
}
.preview .view-conversion {
  &.background {
    .contents-area {
      background: rgba(31, 31, 31, 0.56);
    }
  }
}

/* セットパーツ:メッセージ */
.view-message {
  .heading {
    font-size: 34px;
    font-weight: bold;
  }
}

/* セットパーツ:メインエリア */
.preview .mainAreaComponent.prev-oneLineNews-component {
  margin-bottom: 0;
}
.view-mainArea {
  .parts-contents {
    .heading-text {
      .heading {
        font-size: 45px;
      }
    }
  }
}
.preview .view-mainArea {
    .heading {
      text-align: left;
    }
    &.background {
      .parts-contents {
        background: rgba($baseBgColor, 0.56);
      }
    }
  }

/* セットパーツ:ヘッダー */
.preview
  .headerComponent:not(.prev-conversion-component):not(.prev-mainArea-component):not(.prev-breadcrumb-component):not(.prev-oneLineNews-component)
  .view-header {
  margin-bottom: $mainAreaMargin;
}

.view-heading1 {
  letter-spacing: 2.25px;
}
.view-heading2 {
  letter-spacing: 1.7px;
}
.view-heading3 {
  letter-spacing: 1.4px;
}
.view-heading4 {
  letter-spacing: 1.1px;
}